# From https://stackoverflow.com/questions/9619362/running-a-cron-every-30-seconds
[Unit]
Description=Log the CPU temperature every 10s
[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=1
[Install]
WantedBy=timers.target